.slick-current .card {
    border: 2px solid #F53838;
    scale: 110%;
    transition: all ease-in-out 300ms;
}


.slick-dots {
    text-align: left !important;
}

.slick-dots li button {
    display: none;
}

.slick-dots li button::before {
    content: unset !important;
}

.slick-dots li {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 15px;
    transition: width 200ms linear;
    margin-left: 7px !important;
    margin-right: 7px !important;
}

.slick-dots li.slick-active {
    background-color: #F53838;
    width: 40px;
}

.slick-dots {
    position: absolute;
    bottom: -75px !important;
}

.loop-slider {
    .company {
        animation-name: loop;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: var(--direction);
        animation-duration: var(--duration);
    }
}

.card {
    width: 350px;
    margin: 30px;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}